.parallax {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-rows: min-content;
  justify-items: center;
  align-content: center;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url('../../image/parallax-3.jpg');
  background-attachment: fixed;
  background-size: cover;
  &__container {
    grid-column: center-start/center-end;
    display: flex;
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin-right: 2rem;
    color: $color-grey-light-1;
    letter-spacing: 0.2rem;
  }
  &__btn {
    padding: 1rem 2rem;
    color: $color-grey-light-1;
    border: 1px solid $color-grey-light-1;
    transition: all 0.2s;
    border-radius: 2px;
    background: none;
    justify-self: start;
    &:hover {
      background-color: $color-grey-light-1;
      color: $color-primary-dark;
      transform: translateY(-0.5rem);
    }
  }
}
