&-form {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, min-content);
  padding: 2rem;
  grid-gap: 2rem;
  input {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $color-grey-dark-3;
    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      &:invalid {
        border-bottom: 3px solid #a94442;
      }
    }
  }
  .input-name {
    grid-column: 1/2;
  }
  .input-mail {
    grid-column: 2/3;
  }

  .input-message {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
  .input-subject {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .input-message {
    padding: 1rem;
    border: 1px solid $color-grey-dark-3;
    border-radius: 5px;
    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      &:invalid {
        border-bottom: 3px solid #a94442;
      }
    }
  }
  .btn-submit {
    padding: 1rem 4rem;
    color: $color-white;
    font-size: 1.5rem;
    background-color: $color-black-1;
    border: none;
    border-radius: 5px;
    justify-self: start;
    transition: all 0.3s;
    grid-column: 1/-1;
    &:hover {
      background-color: $color-primary-dark;
      transform: translateY(-0.5rem);
    }
  }
}
