.navigation {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid $color-grey-light-1;
  background-color: $color-white;
  width: 100%;
  z-index: 200;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: min-content;
  @import './Logo/Logo.scss';
  @import './Menus/Menus.scss';
}
