.about {
  grid-column: center-start/center-end;
  display: grid;
  text-align: center;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr 1fr;

  .heading-4 {
    grid-column: 1/-1;
    font-size: 3rem;
    color: $color-grey-dark-1;
  }

  &__avartar {
    grid-column: 1/2;
  }
  &__content {
    grid-column: 2/3;
  }
}
