.contact {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: min-content;
  padding-left: 10rem;
  padding-right: 10rem;
  &__container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content;
    grid-column-gap: 3rem;
    margin-top: 5rem;
    @import './Address/address.scss';
    @import './Form/form.scss';
  }
}
