.header {
  background: $color-blue-1;
  background: -webkit-linear-gradient(
    to left,
    $color-primary-light,
    $color-primary,
    $color-primary-dark
  );
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../../image/background1.jpg'); /**/
  background-size: cover;
  grid-column: 1/-1;
  grid-row: 1/2;

  position: relative;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    &-text {
    }
    .btn-detail {
      border-radius: 10rem;
      margin-top: 10rem;
      border: none;
      padding: 1rem 10rem;
      animation-fill-mode: backwards;
      transition: transform 0.2s;
      text-transform: uppercase;
      cursor: pointer;
      @include respond(tab-port) {
        margin-top: 7rem;
      }
    }
    .btn-detail:hover {
      transform: translateY(-0.5rem);
    }
  }
}

@import './Icons/Icon.scss';
