.contact {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 1fr;
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3rem;
    margin-top: 5rem;
    @import './Address/address.scss';
    @import './Form/form.scss';
  }
}
