.footer {
  grid-column: 1/-1;
  grid-row: min-content;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: min-content;
  justify-items: center;
  background-color: rgba($color-black-2, 0.85);
  grid-row-gap: 1rem;
  padding: 2rem 0;
  text-align: center;

  &__img {
    width: 7rem;
    grid-column: 1/-1;
  }
  &__coppyright {
    color: $color-grey-dark-3;
    white-space: 2rem;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    transition: all 0.2s;
    padding: 0 5rem;
    align-self: center;
    &:hover {
      color: $color-grey-light-3;
    }
  }
}
