.header {
  background: #0052d4;
  background: -webkit-linear-gradient(
    to left,
    $color-primary-light,
    $color-primary,
    $color-primary-dark
  );
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../../image/anhtotnghiep.JPG'); /**/
  background-size: cover;
  grid-column: 1/-1;

  position: relative;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &-btn {
      margin-top: 2rem;
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;

      .btn__link {
        width: 3.5rem;
        padding: 0.5rem 0;
        display: inline-block;
        text-align: center;
        border-radius: 100%;
        border: 1px solid $color-grey-light-1;
        margin-right: 1rem;
        transition: all 0.2s;
        &-icon {
          color: $color-grey-light-1;
          font-size: 2rem;
        }
        &:hover {
          background: rgba($color-black-1, 0.85);
          border: none;
        }
      }
    }
    &-text {
      animation: moveInLeft 1s ease-out;
    }
    .btn-detail {
      border-radius: 10rem;
      margin-top: 10rem;
      border: none;
      padding: 1rem 10rem;
      animation: moveInTop 1s ease-out 0.75s;
      animation-fill-mode: backwards;
      transition: transform 0.2s;
      text-transform: uppercase;
      cursor: pointer;
    }
    .btn-detail:hover {
      transform: translateY(-0.5rem);
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    opacity: 0.75;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
